@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  position: relative;
  background-image: url("/images/background/bg1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
  font-family: "Orbitron", sans-serif;
  overflow: auto;
}

.first {
  height: 100vh;
}

.container-first {
  position: absolute;
  top: 30%;
  left: 5%;
}

h1 {
  position: relative;
  text-transform: uppercase;
  font-size: 110px;
  color: #f1f1f1;
  z-index: 100;
  text-shadow: 0 0 15px #f1f1f1;
  span {
    position: relative;
  }
}

.container-btns {
  position: relative;
  top: 50px;
}

.btn-first {
  border: solid 2px #f1f1f1;
  font-weight: bold;
  outline: none;
  background: transparent;
  font-size: 30px;
  padding: 20px;
  width: 250px;
  color: #f1f1f1;
  border-radius: 20px;
  cursor: pointer;
  &:nth-child(1) {
    margin-right: 20px;
  }
  &:hover {
    animation: all 0.3s ease-in-out;
    background: #f1f1f1;
    color: #333;
  }
}

.lignes {
  position: absolute;
  top: 6%;
  left: 5%;
  .l1 {
    width: 250px;
    height: 4px;
    background: #f1f1f1;
    border-radius: 5px;
  }
  .l2 {
    width: 140px;
    height: 4px;
    background: #f1f1f1;
    border-radius: 5px;
    position: relative;
    top: 20px;
  }
}

.logo {
  position: absolute;
  right: 20%;
  top: 10%;
  width: 250px;
  z-index: -2;
  filter: drop-shadow(0 0 10px #333);
  filter: opacity(95%);
}

//responsive tablet
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container-first {
    top: 40%;
    left: 5%;
  }
  h1 {
    font-size: 80px;
  }
  .container-btns {
    top: 30px;
  }
  .btn-first {
    font-size: 20px;
    padding: 15px;
    width: 200px;
  }
  .lignes {
    top: 3%;
    left: 5%;
    .l1 {
      width: 200px;
    }
    .l2 {
      width: 100px;
    }
  }
  .logo {
    width: 200px;
    right: 30%;
    top: 20%;
  }
}

//responsive mobile
@media screen and (max-width: 767px) {
  .container-first {
    top: 30%;
    left: 5%;
  }
  h1 {
    font-size: 60px;
  }
  .container-btns {
    top: 20px;
  }
  .btn-first {
    font-size: 15px;
    padding: 10px;
    width: 150px;
  }
  .lignes {
    top: 1%;
    left: 5%;
    .l1 {
      width: 150px;
    }
    .l2 {
      width: 80px;
    }
  }
  .logo {
    width: 150px;
    right: 15%;
    top: 20%;
  }
}

.second {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  .container-second {
    height: 500px;
    width: 500px;
    position: relative;
    top: 10%;
    left: 10%;
    border: red 1px solid;
  }
  .container-right {
    height: 600px;
    width: 500px;
    border: red 1px solid;
    position: relative;
    top: 10%;
    right: 10%;
  }
}

@media screen and (max-width: 1024px) {
  .second {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}

@media screen and (max-width: 767px) {
  .second {
    justify-content: flex-start;
    align-items: center;
    .container-second {
      width: 300px;
      height: 300px;
    }
    .container-right {
      width: 300px;
      height: 300px;
    }
  }
}
